[submodule "library/ansible-aur"]
	path = library/ansible-aur
	url = https://github.com/pigmonkey/ansible-aur.git
[submodule "roles-repo"]
	path = roles-repo
	url = https://github.com/Flakebi/ansible-roles.git
