user = postfix
password = {{ postfix_db_password }}
hosts = 127.0.0.1
dbname = postfix
query = SELECT CONCAT(destination_username, '@', destination_domain) AS destinations FROM aliases WHERE source_username = '%u' AND source_domain = '%d' AND enabled = true AND is_regex = false;
