[Unit]
Description=A website for our zeltlager

[Service]
User=zeltlager
Group=zeltlager
WorkingDirectory=/home/zeltlager/website
ExecStart=/home/zeltlager/website/target/release/zeltlager-website

[Install]
WantedBy=multi-user.target
